// Variables para el tema claro
$primary: #F2A7B1; // Rosa coral suave
$secondary: #FFE156; // Amarillo brillante
$success: #8CCB8B; // Verde oliva pastel
$info: #70C1B3; // Azul turquesa
$warning: #FF9F00; // Naranja brillante
$danger: #E84A5F; // Rojo ladrillo
$light: #ffffff; // Blanco
$dark: #4F4A4A; // Gris oscuro
$body-bg: #e8f9ff; // Azul muy claro
$text-color: #3D3D3D; // Gris oscuro para el texto