* {

    font-family: 'Fredoka';

}

.container-fluid img {

    width: 7%;
    padding: 0;


}

.video-borde {

    border: 3px solid #000000; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados */
    
}